RAPIDAPI_HOST=taobao1688-official.p.rapidapi.com
RAPIDAPI_KEY=your-api-key-here
RAPIDAPI_KEY_DATAHUB=your-datahub-api-key-here
RAPIDAPI_1688_DATAHUB_KEY=your-1688-datahub-api-key-here
API_VERSION=v40
